---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.doc-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.page__share {
  max-width: 800px;
  margin: 2em auto 0;
  padding: 0 20px;
}
